<h1>Livros Disponiveis</h1>
<div class="books-container">
  {{#each books}}
    <div>
      #{{this.id}}-
      <span class="bold"><a href="/books/{{this.id}}">{{this.title}}</a></span>
      -
      {{this.pages}}
      páginas
    </div>
  {{/each}}
  <a href="/"> Add new Book</a>
</div>