<h1>Criação de Tasks</h1>
<form action="/tasks/add" method="post">
  <div class="form-control">
    <label for="title">Título da Tarefa</label>
    <input type="text" name="title" placeholder="O que vai fazer?" />
  </div>
  <div class="form-control">
    <label for="description">Descrição</label>
    <textarea name="description" placeholder="Descreva a Tarefa..."></textarea>
  </div>
  <input type="submit" value="Criar" />
</form>